body {

    width: 99.3%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(176,176,176);
    background-color: black
}
#canvas {
    background-color: rgb(255,255,255);
    background-color: lightgreen
}
